{% extends 'base.html' %}

{% block title %} Post a Chirp {% endblock %}

{% block content %}

    <div class="container">
        <form action="/users/{{ username }}/chirp/add" method="POST">
            <div class="row row-cols-sm-1 row-cols-md-1">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="col">
                        {{ field.label }}
                        {{ field(class_="form-control") }}
                    </div>
                {% endfor %}
            </div>
            <a href="/users/{{ username }}" class="btn btn-primary">Cancel</a>
            <button class="btn submit-btn btn-info" type="submit">Post</button>
        </form>
    </div>

{% endblock %}

