{% extends 'base.html' %}

{% block title %} Flutter {% endblock %}

{% block content %}

    <h1>Flutter</h1>

    <div class="container feedback-section mt-5">
        <div class="row">
            <div class="col-9">
                {% for feedback in user.feedback %}
                <div class="media">
                  <img src="{{ user.profile_photo }}" class="align-self-start mr-3 thumbnail w-auth" style="width: 80px" alt="profile photo">
                  <div class="media-body">
                    <h4 class="mt-0">{{ feedback.title }}</h4>
                    <h5 class="mt-0">{{ feedback.username }}</h5>
                    <p>{{ feedback.content }}</p>
                  </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-3">
                <div class="card mx-auto" style="width: 12rem">
                    <img class="card-img-top w-75 mx-auto" src="{{ user.profile_photo }}" alt="profile photo">
                    <div class="card-body">
                        <h4 class="card-title">{{ user.username }}</h4>
                        <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                        <form>
                            <a href="/users/{{ user.username }}/edit" class="btn btn-primary">Edit</a>
                            <a href="/users/{{ user.username }}/delete" class="btn btn-primary">Delete</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container feedback-section mt-5">
        <a href="/users/{{ user.username }}/feedback/add" class="btn btn-primary">Add a Chirp</a>
    </div>


{% endblock %}
