{% extends 'base.html' %}

{% block title %} Flutter {% endblock %}

{% block content %}

    <h1>Flutter</h1>

{#    <img src="https://image.flaticon.com/icons/svg/184/184970.svg" alt="">#}

    <div class="container feedback-section">

        {% for chirp in feedback %}
        <div class="media">
          <img src="{{ user.profile_photo }}" class="align-self-start mr-3" alt="profile photo">
          <div class="media-body">
            <h4 class="mt-0">{{ chirp.title }}</h4>
            <h5 class="mt-0">{{ chirp.username }}</h5>
            <p>{{ chirp.content }}</p>
          </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}