{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

    <h1>Login</h1>

    <div class="container">
        <form action="/login" method="POST">
            <div class="row row-cols-sm-1 row-cols-md-2">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                    <div class="col">
                        {{ field.label }}
                        {{ field(class_="form-control") }}
                    </div>
                {% endfor %}
            </div>
            <button class="btn submit-btn btn-info" type="submit">Login</button>
        </form>
    </div>

{% endblock %}