{% extends 'navbar.html' %}

{% block title %} Logout {% endblock %}

{% block content %}

    <div class="container text-secondary w-75">

        <h1 class="text-success">Logout</h1>

        <form action="/logout" method="POST">
            <h4 class="mb-3 mt-5">Are you sure you want to logout?</h4>
            <a href="/users/{{ username }}" class="btn submit-btn btn-outline-secondary">Cancel</a>
            <button class="btn submit-btn btn-info" type="submit">Yes</button>
        </form>

    </div>

{% endblock %}